.board-app {
   height: 100%;
   scroll-behavior: smooth;
   overflow-y: hidden;
   // overflow-x: scroll;
   .secondary-navbar {
      @include flex-row-center;
   }
   .board-container {
      .groups-container-main {
         display: flex;
         flex-direction: row;
         flex-grow: 1;
         position: relative;
         flex-wrap: nowrap;
         white-space: nowrap;
         padding-left: 16px;
         height: 100%;
         bottom: 0;
         left: 0;
         right: 0;
         top: 0;
         // position: absolute;

         .groups-container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            position: relative;
            flex-wrap: nowrap;
            white-space: nowrap;
            @include custom-scroll-bar;
            height: 88vh;
            margin-bottom: 8px;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0 0 8px;

            .add-list-section {
               // background-color: #ffffff3d;
               cursor: pointer;
               margin-left: 4px;
               border-radius: 3px;
               height: 40px;
               margin-right: 8px;

               .add-list-button {
                  .list-composer {
                     color: #172b4d;
                     padding: 6px 8px;
                     transition: color 85ms ease-in;
                     cursor: pointer;
                     white-space: nowrap;
                     background-color: rgba(0, 0, 0, 0.26);
                     width: 264px;
                     height: 40px;
                     border: none;
                     display: flex;
                     align-items: center;
                     border-radius: 3px;
                     transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
                     .add-task-plus-icon {
                        @include icon-sm;
                     }

                     &:hover {
                        background-color: rgba(0, 0, 0, 0.175);
                     }
                  }
               }

               .list-composer-open {
                  display: flex;
                  flex-direction: column;
                  width: 272px;
                  height: 80px;
                  background-color: #ebecf0;
                  border-radius: 3px;
                  // box-sizing: content-box;

                  .add-list-title-input-section {
                     .add-list-title-input {
                        background-color: #fff;
                        // box-shadow: inset 0 0 0 2px #0079bf;
                        display: block;
                        transition: margin 85ms ease-in, background 85ms ease-in;
                        width: 264px;
                        height: 36px;
                        // border: 2px solid #ebecf0;
                        border: 2px solid #0079bf;
                        // cursor: pointer;
                        cursor: text;
                        text-decoration: none;
                        font-family: unset;
                        overflow: hidden;
                        overflow-wrap: break-word;
                        resize: none;
                        color: #172b4d;
                        padding: 8px 12px;
                        border-radius: 3px;
                        margin: 4px 4px;

                        &:focus {
                           background-color: white;
                           border: 2px solid #0079bf;
                           outline: 0 none;
                           cursor: text;
                        }
                     }
                  }
                  .add-list-control-section {
                     margin: 0 6px;

                     .add-list-confirm-btn {
                        @include button-add-primary;
                     }
                     .cancel-add-list {
                        @include icon-lg;
                     }
                  }
               }
            }

            .board-group {
               // @include flex-row-center;
               display: inline-block;
               height: 100%;
               min-width: 272px;
               vertical-align: top;
               // display: flex;
               // flex: 0 0 272px;
               // flex-direction: column;
               // justify-content: flex-start;
               // flex-wrap: nowrap;
               white-space: nowrap;
               // padding: 0 4px;
               margin: 0 4px;
               position: relative;
               overflow-y: unset;
               // overflow-x: hidden;
               &:first-child {
                  margin-left: 8px;
               }
            }
         }
      }
   }
}
