.board-app {
   scroll-behavior: smooth;
   // overflow-x: scroll;
   .secondary-navbar {
      @include flex-row-center;
   }
   .groups-container-main {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      position: relative;
      flex-wrap: nowrap;
      white-space: nowrap;
      padding-left: 16px;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      // position: absolute;

      .groups-container {
         display: flex;
         flex-direction: row;
         flex-grow: 1;
         position: relative;
         flex-wrap: nowrap;
         white-space: nowrap;
         @include custom-scroll-bar;
         height: 85vh;
         margin-bottom: 8px;
         overflow-x: scroll;
         overflow-y: hidden;
         padding: 0 0 8px;

         .add-group-container {
            .add-group-form {
               display: flex;
               flex-direction: column;
               align-items: flex-start;

               .add-group-btn {
                  display: inline-block;
                  align-self: baseline;
                  color: #172b4d;
                  padding: 6px 8px;
                  transition: color 85ms ease-in;
                  cursor: pointer;
                  white-space: nowrap;
                  background-color: rgba(0, 0, 0, 0.205);
                  width: 264px;
                  height: 32px;
                  border: none;
               }
            }
         }

         .board-group {
            // @include flex-row-center;
            display: inline-block;
            height: 100%;
            min-width: 272px;
            vertical-align: top;
            // display: flex;
            // flex: 0 0 272px;
            // flex-direction: column;
            // justify-content: flex-start;
            // flex-wrap: nowrap;
            white-space: nowrap;
            // padding: 0 4px;
            margin: 0 4px;
            position: relative;
            overflow-y: unset;
            // overflow-x: hidden;
            &:first-child {
               margin-left: 8px;
            }
         }
      }
   }
}
