header {
   min-height: 44px;
   max-height: 44px;
   overflow: hidden;

   nav {
      display: flex;
      padding: 6px 4px;
      max-height: 44px;

      background-color: rgba(0, 0, 0, .30);
      backdrop-filter: blur(6px);

      img {
         width: 20px;
      }
   }
}

.atlassian-btn-wrapper {
   display: block;
   position: relative;
   outline: none;
   z-index: 0;

   &>* {
      outline: none;
   }

   .atlassian-btn-container {
      margin: 0;
      padding: 0;

      .atlassian-app-btn {
         margin: 0;
         background-color: transparent;
         border-radius: 3px;
         border: 0;
         text-decoration: none;
         align-items: center;
         display: flex;
         box-shadow: none;
         height: 32px;
         line-height: 32px;
         padding: 0;
         white-space: nowrap;

         &:hover {
            @include nav-btn-hover
         }

         .atlassian-app-icon-container {
            display: flex;
            width: 32px;
            justify-content: center;
            align-items: center;
            margin: 0;
            line-height: 1;

            .atlassian-app-switcher {
               display: inline-block;
               flex-shrink: 0;
               line-height: 1;

               svg {
                  height: 20px;
                  width: 20px;
                  line-height: 20px;
                  vertical-align: bottom;
               }
            }
         }
      }
   }
}

.logo-link {
   display: block;
   position: relative;
   flex-shrink: 0;
   margin-left: 10px;
   
   padding: 0 8px;
   border-radius: 3px;
   height: 32px;

   &:hover { 
      @include nav-btn-hover
   }

   .logo-img-container {
      box-sizing: unset;
      display: flex;
      align-items: center;
      position: relative;

      .logo-content {
         box-sizing: unset;
         display: flex;
         align-items: center;

         width: 79px;
         height: 16px;
         padding: 8px 0;
         margin: 0;
         opacity: 1;
         position: relative;
   
         &::before, &::after {
            content: '';
            display: block;
            background-image: url('~@/assets/img/logo-static-test.gif');
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            height: 15px;
            width: 100%;
         }

         &::after {
            background-image: url('~@/assets/img/logo-hover.gif');
            opacity: 0;
         }

         &:hover::before, &:focus::before, &:focus::after {
            background-image: url('~@/assets/img/logo-hover.gif');
            opacity: 1;
         }

         p {
            margin: 0;
            margin-left: 17px;

            line-height: 16px;
            font-weight: 800;
            font-size: 1.3em;
            letter-spacing: normal;
            
            color: #fff;
         }
      }
   }
}

.nav-main-wrapper {
   display: flex;
   flex-basis: 100%;

   .nav-main-container {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      height: 100%;
      position: relative;

      .nav-main-links {
         display: flex;
         flex-shrink: 0;
         margin: 0 5px;

         color: #fff;

         .nav-link-btn {
            background-color: transparent;
            height: 32px;
            line-height: 32px;
            margin-left: 4px;
            padding-right: 10px;
            white-space: nowrap;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            padding: 6px 12px;
            border: none;

            &:hover {
               @include nav-btn-hover
            }

            .btn-text {
               margin-right: 2px;
            }

            .btn-icon-container {
               margin-left: 4px;
               min-width: 15px;
               display: inline-block;
               line-height: 1;
               white-space: nowrap;

               .modal-icon, .starred-icon {
                  display: inline-block;
                  flex-shrink: 0;
                  line-height: 1;

                  svg {
                     width: 16px;
                     height: 16px;
                  }
               }
            }
         }
      }
      
      .nav-board-create {
         display: flex;
         flex-shrink: 0;
         margin: 0 4px;

         a {
            display: flex;
            align-items: center;

            border-radius: 3px;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 0 0;
            padding: 0;
            white-space: nowrap;

            background-color: rgba(0, 0, 0, 0.24);
            color: #fff;

            text-decoration: none;

            &:hover {
               @include nav-btn-hover
            }

            p {
               margin: 0;
               padding: 0 12px;
            }
         }
      }

      .spacer {
         flex-shrink: 1;
         min-width: 1px;
         margin: 0;
         width: 100%;
         position: relative;

         .spacer-content {
            display: block;
            width: 100%;
            position: absolute;
         }
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
         width: 24px;
      }
   }
}

.nav-reactive-links {
   display: flex;
   justify-content: flex-end;
   flex-grow: 1;

   .nav-search-bar {
      position: relative;

      .nav-label {
         border: 0;
         clip: rect(0 0 0 0);
         height: 1px;
         margin: -1px;
         overflow: hidden;
         padding: 0;
         position: absolute;
         white-space: nowrap;
         width: 1px;
      }

      label {
         color: #fff;
         display: block;
         font-size: 12px;
         font-weight: 700;
         line-height: 16px;
      }

      .search-input {
         width: 250px;
         height: 32px;
         line-height: 19px;

         padding-right: 8px;
         padding-left: 30px;
         margin: 0 4px;
         // margin: 0;
         float: left;

         border: 1px solid rgba(255, 255, 255, 0.25);
         border-radius: 3px;
         box-shadow: none;

         background-color: rgba(255, 255, 255, 0.3);
         color:rgba(255, 255, 255, 0.5);
         font-size: 14px;
         transition: width 150ms;

         &::placeholder {
            color: #fff;
         }

         &:hover {
            @include nav-input-hover
         }
      }

      .search-icon-wrapper {
         position: absolute;
         left: 4px;

         label {
            margin: 0;
            padding: 0;
            color: #fff;
         }

         .search-icon-container {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;

            .search-icon {
               color:rgb(255, 255, 255);
               display: inline-block;
               fill: inherit;
               flex-shrink: 0;
               line-height: 1;
               height: 20px;

               img {
                  height: 20px;
                  width: 20px;
                  line-height: 20px;
                  max-width: 100%;
                  max-height: 100%;
                  overflow: hidden;
                  pointer-events: none;
               }
            }
         }
      }
   }

   .info-btn {
      display: flex;
      align-items: center;

      height: 32px;
      line-height: 32px;
      margin: 0 4px 0 0;
      padding: 0;
      white-space: nowrap;

      background-color: transparent;
      border-radius: 3px;
      border: 0;
      box-shadow: none;

      &:hover {
         @include nav-btn-hover
      }

      .info-icon-container {
         display: flex;
         justify-content: center;
         align-items: center;
         line-height: 1;

         width: 32px;
         margin: 0;

         .info-icon {
            display: inline-block;
            flex-shrink: 0;
            line-height: 1;
            height: 16px;

            img {
               height: 16px;
               width: 16px;
               line-height: 20px;
            }
         }
      }
   }

   .notifications-btn {
      background-color: transparent;
      border-radius: 3px;
      border: 0;
      text-decoration: none;
      box-shadow: none;

      display: flex;
      align-items: center;
      height: 32px;
      line-height: 32px;
      white-space: nowrap;
      margin: 0 4px 0 0;
      padding: 0;

      color: #fff;

      &:hover {
         @include nav-btn-hover
      }

      .notifications-icon-container {
         display: flex;
         width: 32px;
         justify-content: center;
         align-items: center;
         margin: 0;
         line-height: 1;

         .notifications-icon {
            display: inline-block;
            flex-shrink: 0;
            line-height: 1;
            height: 16px;

            img {
               height: 16px;
               width: 16px;
               line-height: 20px;
            }
         }
      }
   }

   .user-btn-spacer {
      display: flex;
   }

   .user-profile-btn {
      border: none;
      box-shadow: none;
      background-color: transparent;
      display: block;
      height: 32px;
      width: 32px;
      margin-right: 0;
      position: relative;
      outline: 0;

      border-radius: 3px;
      text-decoration: none;
      align-items: center;
      color: #fff;
      font-weight: bold;
      line-height: 32px;
      margin: 0 4px 0 0;
      padding: 0;
      white-space: nowrap;

      .user-avatar-container {
         position: relative;
         line-height: 10px;
         overflow: hidden;
         white-space: nowrap;

         .user-avatar > * {
            font-size: 15px;
            font-weight: 600;
            color: #fff;
         }
      }
   }
}