header {
   height: 44px;
   background-color: rgba(0, 0, 0, 0.15);
   backdrop-filter: blur(6px);

   nav {
      @include flex-row-center;
      justify-content: space-between;
      height: 100%;
      padding: 0 15px;

      .logo-container {
         @include flex-row-center;
         width: 100px;
         height: 100%;
      }

      .nav-links {
         @include flex-row-center;
         justify-content: space-between;
         width: 100%;

         .nav-board-links > *,
         .nav-user-links > *:not(last-child) {
            margin-inline-end: 15px;
         }
      }

      img {
         width: 20px;
      }
   }
}
