.group-preview-container {
   .group-header-section {
      display: flex;
      flex: 0 0 auto;
      min-height: 20px;
      padding: 10px 8px;
      position: relative;
      justify-content: space-between;
      align-items: center;
      color: #172b4d;
      min-height: 40px;

      .title-section {
         display: flex;
         flex-wrap: wrap;

         .group-title-textarea {
            border: 2px solid #ebecf0;
            cursor: pointer;
            text-decoration: none;
            font-family: unset;
            overflow: hidden;
            overflow-wrap: break-word;
            height: 28px;
            resize: none;
            color: #172b4d;
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            line-height: 20px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            font-weight: 600;
            max-height: 256px;
            min-height: 20px;
            padding: 4px 8px;
            margin: -4px 0;
            border-radius: 3px;

            &:focus {
               background-color: white;
               border: 2px solid #0079bf;
               outline: 0 none;
               cursor: text;
            }
         }
      }

      .title-actions-section {
         position: relative;
         button {
            height: 32px;
            width: 32px;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
               background-color: rgb(216, 216, 216);
               border-radius: 3px;
            }
         }
      }
   }
   .group-tasks-section {
      .group-tasks {
         display: flex;
         flex: 1 1 auto;
         margin: 0 4px;
         min-height: 0;
         overflow-x: hidden;
         overflow-y: auto;
         padding: 0 4px;
         z-index: 1;
         white-space: normal;

         .group-task {
            @include flex-column-center;
            background-color: rgb(255, 255, 255);
            min-width: 248px;
            max-width: 300px;
            box-shadow: 0 1px 0 #091e4240;
            border-radius: 3px;
            min-height: 20px;
            text-decoration: none;
            padding: 6px 8px 2px;
            margin: 0 auto 8px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            color: #172b4d;
         }
      }
   }

   .add-task-section {
      // background-color: violet;
      display: flex;
      justify-content: space-between;
      max-height: 38px;
      min-height: 38px;
   }
}
