.labels-list-modal{
    .no-back{
        .pop-over-header{
            .pop-over-header-title{
            }
            .pop-over-header-close-btn{
                color: #6b778c;
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
        .pop-over-content{
            
        }
    }
}