* {
   box-sizing: border-box;
}

html {
   // font-family: Opensans, sans-serif;
   line-height: 1.8;
}

html, body {
   height: 100%;
}

body {
   margin: 0;
   line-height: 20px;
   font-size: 14px;
   font-weight: 400;
   color: #172b4d;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

main {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#app {
   height: 100%;
   position: relative;
   z-index: 1;
   overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
   margin:0 0 8px;
}

h3, h4, h5, h6 {
   font-size: 16px;
   line-height: 20px;
}

ol, ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   width: 100%;
}

a {
   color: #172b4d;
   cursor: pointer;
   text-decoration: none;
   &:hover{
      color: #091e42;
   }
   &:visited {
      color: inherit;
   }
   &:active{
      outline: 0;
   }
}

input[type='search']:focus {
   outline: 0;
}

textarea{
	color: #172b4d;
   outline: none;
   overflow: auto;
   width: 100%;
   display: block;
   border: none;
   box-shadow: inset 0 0 0 2px #dfe1e6;
   margin-bottom: 12px;
   padding: 8px 12px;
   color: inherit;
   margin: 0;
   background-color: #fafbfc;
   box-sizing: border-box;
   font: inherit;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

textarea:focus{
	outline: none
}

p {
   margin: 0 0 8px;
}

input:not([type=file]), textarea {
   transition-duration: 85ms;
   transition-property: background-color,border-color,box-shadow;
   transition-timing-function: ease;
}

hr {
   background-color: #091e4221;
   border: 0;
   height: 1px;
   margin: 16px 0;
   padding: 0;
   width: 100%;
   box-sizing: initial;
}