* {
   box-sizing: border-box;
}

html {
   font-family: Opensans, sans-serif;
   line-height: 1.8;
}

html, body {
   height: 100%;
}

body {
   margin: 0;
   line-height: 20px;
   font-size: 14px;
   font-weight: 400;
}

main {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#app {
   height: 100%;
   position: relative;
   z-index: 1;
   overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
   margin: 0 0 1rem;
}

h1 {
   font-size: rem(60px);
}

img {
   width: 100%;
}

a {
   color: #172b4d;
   cursor: pointer;
}

a:hover {
   color: #091e42;
}

a:active {
   outline: 0;
}

a {
   text-decoration: none;

   &:visited {
      color: inherit;
   }
}

input[type='search']:focus {
   outline: 0;
}

textarea{
	color: #172b4d;
}

textarea:focus{
	outline: none
}

p {
   margin: 0 0 8px;
}