* {
   box-sizing: border-box;
}

html {
   font-family: Opensans, sans-serif;
   line-height: 1.8;
   height: 100vh;
}

body {
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 500;
   margin: 0 0 1rem;
}

h1 {
   font-size: rem(60px);
}

img {
   width: 100%;
}

p {
   margin: 0 0 1rem;
   max-width: 60ch;
}
