@mixin flex-row-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-column-center {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

// custom scroll-bar
@mixin custom-scroll-bar() {
   &::-webkit-scrollbar {
      border-radius: 10px;
      height: 15px;
      width: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background: #091e4214;
      border-radius: 10px;
   }

   &::-webkit-scrollbar-track {
      border-radius: 10px;
   }
}
