@mixin flex-row-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-column-center {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

// custom scroll-bar
@mixin custom-scroll-bar() {
   &::-webkit-scrollbar {
      width: 8px;
      border-radius: 10px;
      background-color: #f5f5f5;
   }

   &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
      background-color: #c4c4c4;
      border-radius: 10px;
   }

   &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
      border-radius: 10px;
   }
}

@mixin nav-btn-hover {
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: none;
   color: #fff;
   cursor: pointer;
}

@mixin board-nav-btn-hover {
   background-color: rgba(255, 255, 255, 0.3);
   color: #fff;
   box-shadow: none;
   border: none;
   cursor: pointer;
}

@mixin nav-input-hover {
   background-color: rgba(255, 255, 255, 0.4);
   box-shadow: none;
   border: 1px solid rgba(255, 255, 255, 0.25);
}

@mixin button-add-primary {
   background-color: #0079bf;
   border: none;
   box-shadow: none;
   color: #fff;
   cursor: pointer;
   // display: inline-flex;
   width: 80px;
   height: 32px;
   align-items: center;
   border-radius: 3px;

   &:hover {
      background-color: #026aa7;
      border: none;
      box-shadow: none;
      color: #fff;
   }
}
@mixin flex-center-button {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin icon-lg {
   color: #6b778c;
   height: 24px;
   // line-height: 32px;
   width: 24px;
   // font-size: 24px;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 6px;
   cursor: pointer;
}

@mixin icon-sm {
   color: #6b778c;
   margin-left: 2px;
   margin-right: 4px;
   // font-size: 16px;
   height: 16px;
   // line-height: 20px;
   width: 16px;
   display: inline-block;
   cursor: pointer;
   // font-style: normal;
   // font-weight: 400;
   // line-height: 1;
   // text-align: center;
   // text-decoration: none;
   // vertical-align: bottom;
}
